---
layout: default
title: Home
---



{% for post in site.posts  %}
    <article {% if post.type %} class="{{ post.type }}" {% endif %}>
        <header>
            <h2><a href="{{post.url}}">{{ post.title }}</a></h2>
        </header>
        {{ post.content }}
        <footer>
            <time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date_to_string }}
            </time>
        </footer>
    </article>




{% endfor %}




<article id="about" class="is-about-me l-expanded">
    <header>
        <h2>ABOUT</h2>
    </header>
    <img src="/assets/img/rodolfo-caldeira-at-constancia.jpg" alt="Picture of Rodolfo Caldeira at Constância, Portugal.">

    <p>Hi, I'm Rodolfo Caldeira. I'm passionate developer and occasional pixel pusher. I work at <a href="http://iqcontent.com">iQ Content</a> and live in <del>sunny</del> Ireland.</p>
    <p>Feel free to follow me on <a href="http://twitter.com/rodolfocaldeira" title="Follow me on Twitter">Twitter</a> or to check my profile on <a href="http://www.linkedin.com/in/rodolfocaldeira" title="Get in touch on Linkedin">Linkedin</a>.</p>
</article>