<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>R {% if page.title %}- {{ page.title }} {% endif %}</title>

    <meta name="description" content="Welcome to the blog of Rodolfo Caldeira. A passionate developer who likes to push pixels from time to time.">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div class="container" role="main">

    <hr class="is-cloud">

    <header>
        <h1>R</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/#about">About</a></li>
        </ul>
    </nav>