---
layout: default
---


<div class="post">

  <article {% if page.type %} class="{{ page.type }}" {% endif %}>
      {% if page.videoUrl %}
          {% if page.title %}
              <header>
                  <h1><a href="{{page.url}}">{{ page.title }}</a></h1>
              </header>
          {% endif %}

          <iframe class="is-youtube"
                  src="{{ page.videoUrl }}?&amp;fmt=18&amp;rel=0&amp;showinfo=0&amp;autohide=1&amp;hd=1&amp;wmode=transparent"
                  frameborder="0"
                  allowfullscreen="true">
          </iframe>
      {% else %}
          <header>
              <h1><a href="{{page.url}}">{{ page.title }}</a></h1>
          </header>
      {% endif %}

      {{ content }}
  <footer>
    <time datetime="{{ post.date }}">
      {{ page.date | date_to_string }}
    </time>
  </footer>
  </article>

</div>
